

.homeReview{
    padding: 50px;
    /*margin: 10px;*/
}

img{
   float: left;
   outline: 20px;
   padding-right: 30px;
   
}

.homeReviewContent{
    
    text-align: left;
    margin: 20px;
    color: white;
    
}

h2{
    padding-bottom: 30px;
}

.filmReview{
    font-style: italic;
    padding-right: 50px;
}