

.homeReview{
    padding: 40px;
    /*margin: 10px;*/
}

img{
   float: left;
   outline: 20px;
}

.homeReviewContent{
    text-align: left;
    float: left;
    margin: 20px;
    color: white;
}

h2{
    padding-bottom: 10px;
}

.filmReview{
    font-style: italic;
}